:root{
	--num-columnas: 10;
	--num-filas: 10;
	--size: 32px;
}
#juego{
	padding: 10px;
	display:grid;
	grid-template-columns: repeat(var(--num-columnas), var(--size));
	grid-template-rows: repeat(var(--num-filas), var(--size));
	background-color: #BBBBBB;
	border-left: 2px solid #D3D3D3;
	border-top: 2px solid #D3D3D3;
	border-right: 2px solid #A9A9A9;
	width: calc(var(--num-columnas)*var(--size));
}

#juego div{
	background-color: #BBBBBB;
	border-left: 2px solid #D3D3D3;
	border-top: 2px solid #D3D3D3;
	border-right: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	text-align: center;
	line-height: var(--size);
}

#juego div.destapado{
	font-family: "Lucida Console","Courier New", Courier, monospace;
	font-weight: bold;
	border-left: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	text-shadow: 1px 1px 2px #999999;
}

.hidden {
	display: none !important;
}